*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 60%;
}

button{
    font-size: 16px;
    padding: 10px;
    margin: 18px;
    background-color: aquamarine;
    color: black;
    transition: all 0.7s;
    &:hover{
        color: aquamarine;
        background-color: black;
        font-size: 18px;
    }
}
label{
    font-size: 20px;
    padding: 8px;
    font-weight: 600;
    color:rgb(54, 54, 54);
}
a{
   text-decoration: none;

}
.business-card{
    background-color: antiquewhite;
    color: black;
    display: grid;
    grid-template-columns: auto;
}
input{
    border: 1px solid black;
    font-size: 16px;
    padding: 10px;

}
textarea{
    border: 1px solid black;
    font-size: 14px;
}